html,body{
    text-align: center;
    height:180%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../css/img/p3.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}
.intro{
    background-color: rgb(226, 182, 166);
    color:orangered;
    font-size: 2em;  
    padding: 20px;
    text-align: center;
}

img{
    border-radius: 100%; 
    filter: sepia(.7);
}
#order{
    color: orangered;
    box-sizing: border-box;
    width: 300px;
    height: 50px;  
    border: 1px solid orangered;
    text-align: center;
    background-color: rgba(241, 159, 129, 0.589);
}
.order{
    padding: 15%;
   display: flex;
   justify-content: space-evenly;
   text-align: center;
}
#order:hover{
    cursor: pointer;
   filter: invert(.5);
}
.choose{
    color: orangered;
    text-align: center;
    display:none;
    padding: 20px;
    font-size: 1.5em; 
    border: 1px solid rgb(196, 114, 84);
    background-color: rgba(196, 114, 84, 0.171);
}
.choose h2{
    text-decoration: underline;
    color: rgb(212, 132, 103);
    text-transform: uppercase;

}